@import "tailwindcss";

@theme {
  --color-spotty-green-500: #1DB954;
  --color-spotty-black: #191414;

  --color-spotty-deep-brown: #0b0909;
  --color-spotty-white: #F1F1F1;
  --color-spotty-blue-500: #00A8E8;
  --color-spotty-red-500: #E63946;

  --color-spotty-cotton-candy: #f2b5c3;

  --color-spotty-burnt: #e9532e;
  --font-display: "Geologica", serif;
}

body {
  background-color: var(--color-spotty-black);
  color: var(--color-spotty-white);
  font-family: var(--font-display);
}

.extraLargeTitle {
  font-size: 4rem;
  font-weight: 700;
}

.largeTitle {
  font-size: 3rem;
  font-weight: 700;
}

.mediumTitle {
  font-size: 2rem;
  font-weight: 400;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 100;
}